<div class="media-section-wrapper" *ngIf="mediaList">
  <h1 class="text-light">What Media says about Comedy Munch!</h1>
  <div class="row media-card shadow-lg" *ngFor="let media of mediaList">
    <div class="col-12 col-md-3 text-center">
      <a target="_blank" href="{{ media.link }}"><img class="mr-3 img-fluid media-image" src="{{ media.image }}" alt="{{ media.name }}"></a>
    </div>
    <div class="col-12 col-md-9 mt-3 mt-md-0">
      <h4 class="mt-0"><a class="text-light" target="_blank" href="{{ media.link }}">{{ media.name }}</a></h4>
      <p class="text-light">{{ media.description }}... <a target="_blank" href="{{ media.link }}">Read More</a></p>
    </div>
  </div>
</div>
