<div class="container team-section-wrapper text-light" *ngIf="teamList">
  <h1>Our Team</h1>
  <p>
    We wouldn't be a 'Munch' without our amazing team. <br>
    We are a team of experienced professionals who are committed to promoting happiness in the workplace. Our strength lies in connecting performance with pride and purpose. It’s our firm belief that grit, respect and dignity of individuals can never be compromised.
  </p>
  <div class="row team-card shadow mb-5 pb-3" *ngFor="let team of teamList">
    <div class="col-12 col-md-3">
      <img class="mr-3 img-fluid img-thumbnail" src="{{ team.image }}" alt="{{ team.name }}">
    </div>
    <div class="col-12 col-md-9">
      <h4 class="mt-2 mt-md-0">{{ team.name }}</h4>
      <p>
        <span class="badge badge-dark mr-1" *ngFor="let pos of team.position.split('|')">{{ pos }}</span>
      </p>
      {{ team.description }}
    </div>
  </div>
</div>
