<div *ngIf="aboutText">
  <div class="jumbotron py-2" *ngIf="aboutText[0].content_part_1" [innerHTML]="aboutText[0].content_part_1"></div>
  <div class="jumbotron py-2" *ngIf="aboutText[0].content_part_2" [innerHTML]="aboutText[0].content_part_2"></div>
  <div class="jumbotron py-2" *ngIf="aboutText[0].content_part_3" [innerHTML]="aboutText[0].content_part_3"></div>
</div>
