<mat-toolbar class="main-toolbar">
  <!-- <button mat-icon-button (click)="snav.toggle()" aria-label="menu"><i class="fas fa-bars fa-2x"></i></button> -->
  <span class="fill-remaining-space"></span>
  <a [routerLink]="['/']"><img class="logo-img img-fluid" src="/assets/images/logo.png" alt="Comedy Munch"></a>
  <span class="fill-remaining-space"></span>
  <button mat-icon-button [routerLink]="['/']"><i class="fas fa-home fa-2x" aria-label="home"></i></button>
</mat-toolbar>
