<div class="category-videos-list-wrapper clearfix" *ngIf="videos">
  <h1 class="my-2 category-title text-center">Comedy Videos</h1>
  <div class="row"
       infiniteScroll
       [infiniteScrollDistance]="3"
       [infiniteScrollThrottle]="50"
       (scrolled)="onScroll()">
    <div class="col-6 col-sm-4 col-md-3 px-2" *ngFor="let video of videos.data">
      <div class="card border-0 mb-3 mt-2 image-card bg-dark">
        <a [routerLink]="['/videos', 'player', video.dm_video_id, video.video_categories_id, video.category_name | slugify]">
          
          <app-lazy-img
            [fileName]="'thumbnails/' + video.category_name.replace(' ', '+') + '/' + video.unique_filename + '.jpeg'" [alt]="video.title">
         
          </app-lazy-img>
        </a>
      </div>
    </div>
  </div>
</div>
