<div *ngIf="termsText">
  <div class="jumbotron py-2" *ngIf="termsText[0].content_part_1" [innerHTML]="termsText[0].content_part_1"></div>
  <div class="jumbotron py-2" *ngIf="termsText[0].content_part_2" [innerHTML]="termsText[0].content_part_2"></div>
  <div class="jumbotron py-2" *ngIf="termsText[0].content_part_3" [innerHTML]="termsText[0].content_part_3"></div>
</div>
