<div class="viewport-container" [class.viewport-is-mobile]="mobileQuery.matches">
  <div class="header-wrapper">
    <app-header [snav]="snav"></app-header>
  </div>
  <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#dc3545"
    type="line-scale">
    <p style="font-size: 20px; color: white">Loading..</p>
  </ngx-spinner>

  <mat-sidenav-container class="viewport-sidenav-container">
    <mat-sidenav class="bg-dark" #snav [mode]="'over'" [fixedInViewport]="mobileQuery.matches" (click)="snav.toggle()">
      <div class="profile-wrapper container text-center" [ngStyle]="{'background-image': 'url(/assets/images/profile-details-bg.png)'}">
<!--        <img src="/assets/images/avatar.jpg" alt="Comedy Munch" class="img-fluid mb-2 rounded-circle side-nav-logo">-->
        <img src="/assets/images/logo.png" alt="Comedy Munch" class="img-fluid mb-2 side-nav-logo">
<!--        <h6 class="text-light mb-1 user-name">Akash Kumar</h6>-->
        <h6 class="text-light mb-1 user-name">Comedy Munch</h6>
      </div>
      <mat-nav-list>
        <a mat-list-item routerLink="{{ item.link }}" *ngFor="let item of sideNavMenuItems">{{ item.name }}</a>
      </mat-nav-list>
      <mat-divider></mat-divider>
      <div class="container mt-3">
        <h6>Follow us on: </h6>
        <div class="row">
          <div class="col">
            <a class="text-primary" href="https://www.facebook.com/comedymunch/" target="_blank" rel="noreferrer" aria-label="Comedy Munch Facebook"><i class="fab fa-2x fa-facebook"></i></a>
          </div>
          <div class="col">
            <a class="text-light" href="https://www.instagram.com/comedymunch" target="_blank" rel="noreferrer" aria-label="Comedy Munch Instagram"><i class="fab fa-2x fa-instagram"></i></a>
          </div>
          <div class="col">
            <a class="text-danger" href="https://www.youtube.com/channel/UCbFrIJT6pjUoMNa3UNSdYnw" target="_blank" rel="noreferrer" aria-label="Comedy Munch Youtube"><i class="fab fa-2x fa-youtube"></i></a>
          </div>
          <div class="col">
            <a class="text-info" href="https://twitter.com/ComedyMunch" target="_blank" rel="noreferrer" aria-label="Comedy Munch Twitter"><i class="fab fa-2x fa-twitter"></i></a>
          </div>
        </div>
      </div>
      <mat-divider class="my-2"></mat-divider>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="container">
        <div class="page-wrapper pb-3">
          <router-outlet></router-outlet>
        </div>
        <div class="footer-wrapper">
          <app-footer></app-footer>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
