.viewport-container {display: flex;flex-direction: column;position: absolute;top: 0;bottom: 0;left: 0;right: 0;}
.viewport-is-mobile .viewport-toolbar {position: fixed;z-index: 2;}
.viewport-sidenav-container {flex: 1;}
.viewport-is-mobile .viewport-sidenav-container {flex: 1 0 auto;}
mat-sidenav{position: absolute;}
.page-wrapper{min-height: 300px;}
.mat-drawer{min-width: 70vw !important;}
.profile-wrapper{height: 144px;padding-top: 20px;background-size: contain;}
.side-nav-logo{max-height: 80px;}
