<!-- <app-ads></app-ads> -->
<div class="footer-container">
  <div class="row mt-5 foote-logo">
    <div class="col align-self-start"></div>
    <div class="col align-self-center">
        <a [routerLink]="['/']"> <img src="/assets/images/logo.png" alt="Comedy Munch" class="img-fluid"></a>
     
    </div>
    <div class="col align-self-end"></div>
  </div>
  <!-- <mat-divider class="my-2"></mat-divider> -->
  <!-- <div class="categories my-2">
    <mat-chip-list>
      <mat-chip class="footer-chip" *ngFor="let cat of categories"><a class="text-light" [routerLink]="['/videos', 'list', cat.id, cat.category_name | slugify]">{{ cat.category_name }}</a></mat-chip>
    </mat-chip-list>
  </div> -->
  <!-- <p style="margin-bottom: 0">Follow us on:</p>
  <ul style="margin-top: 2px" class="d-inline-flex list-unstyled">
    <li class="list-inline-item mr-3">
      <a class="text-primary" href="https://www.facebook.com/comedymunch/" target="_blank" rel="noreferrer" aria-label="Comedy Munch Facebook"><i class="fab fa-2x fa-facebook"></i></a>
    </li>
    <li class="list-inline-item mr-3">
      <a class="text-light" href="https://www.instagram.com/comedymunch" target="_blank" rel="noreferrer" aria-label="Comedy Munch Instagram"><i class="fab fa-2x fa-instagram"></i></a>
    </li>
    <li class="list-inline-item mr-3">
      <a class="text-danger" href="https://www.youtube.com/channel/UCbFrIJT6pjUoMNa3UNSdYnw" target="_blank" rel="noreferrer" aria-label="Comedy Munch Youtube"><i class="fab fa-2x fa-youtube"></i></a>
    </li>
    <li class="list-inline-item mr-3">
      <a class="text-info" href="https://twitter.com/ComedyMunch" target="_blank" rel="noreferrer" aria-label="Comedy Munch Twitter"><i class="fab fa-2x fa-twitter"></i></a>
    </li>
  </ul>
  <p>For Corporate &amp; Private Events Enquiry,<br>
    <i class="fas fa-phone-square"></i>&nbsp;
    <a target="_blank" rel="noreferrer" aria-label="Comedy Munch Phone" href="tel:+919205170171">+91 9205170171</a><br>
    <i class="fas fa-envelope"></i>&nbsp;
    <a target="_blank" rel="noreferrer" aria-label="Comedy Munch Email" href="mailto:booking@comedymunch.com">booking@comedymunch.com</a>
  </p>
  <p>
    <i class="fas fa-map-marker-alt"></i> 206, 2nd Floor, Suncity Success Tower, Sector 65, Gurugram, Haryana 122005.
  </p>
  <p>Copyright © Inavit Digital 2018. All Rights Reserved.</p> -->
</div>
