@keyframes shimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.bg {
  padding-top: calc(1080 / 1920 * 100%);
  margin: auto;
  animation: shimmer 2s linear 0s infinite forwards;
  box-shadow: 0 8px 16px rgba(0, 30, 84, 0.1);
  background: #ced1d8 linear-gradient(
    to right,
    #ced1d8 0%,
    #e9ebee 20%,
    #ced1d8 40%,
    #ced1d8 100%
  ) no-repeat;
  position: relative;
  border-radius: 5px;
}

figure {
  margin: 0;
  padding: 0;
  background: black;
  border-radius: 5px;
}

figcaption {
  padding: 10px;
  color: white;
}

h3 {
  margin: 0;
}
