<div *ngIf="!state.loaded" class="wrapper bg"></div>

<!--<figure *ngIf="state.visible">-->
<!--  <img [hidden]="!state.loaded" (load)="onLoad()" [src]="src" [alt]="alt" />-->

<!--&lt;!&ndash;  <figcaption>&ndash;&gt;-->
<!--&lt;!&ndash;    <h1><slot name="header">Default Header</slot></h1>&ndash;&gt;-->
<!--&lt;!&ndash;    <p><slot name="caption">Default Caption</slot></p>&ndash;&gt;-->
<!--&lt;!&ndash;  </figcaption>&ndash;&gt;-->
<!--</figure>-->

<picture *ngIf="state.visible">
  <source media="(max-width: 576px)" srcset="https://d3ddxadumogcw0.cloudfront.net/small/{{ fileName }}">
  <source media="(max-width: 800px)" srcset="https://d3ddxadumogcw0.cloudfront.net/medium/{{ fileName }}">
  <source media="(min-width: 801px)" srcset="https://d3ddxadumogcw0.cloudfront.net/large/{{ fileName }}">
  <img [hidden]="!state.loaded" (load)="onLoad()" src="https://d3ddxadumogcw0.cloudfront.net/xlarge/{{ fileName }}" (error)="img.src = '/assets/images/default-thumbnail.jpg'" [alt]="alt" #img>
</picture>
