.player-section-wrapper{min-height: 250px;}
.player-wrapper{margin-left: -15px;margin-right: -15px;}
.category-title{font-size: 18px;}
.image-card{box-shadow: 0 24px 15px 3px rgba(0,0,0,1), 0 9px 46px 8px transparent, 0 11px 15px -7px rgba(0,0,0,1);}
h1{font-size: 18px;}
.video-details{font-size: 15px;}
