<div class="player-page-wrapper">
  <div class="player-section-wrapper" *ngIf="videoDetails">
    <div class="player-wrapper" *ngIf="videoUrl">
      <iframe frameborder="0" width="100%"
              [src]="videoUrl | safeurl"
              allowfullscreen allow="autoplay"></iframe>
    </div>
    <div class="video-details-section">
      <h1>{{ videoDetails.title }}</h1>
      <p class="video-details">
        <!-- <span class="video-category">{{ categoryName | uppercase }}</span>&nbsp;| -->
        <span class="video-views">{{ videoDetails.views_total }} views</span>
      </p>
      <p [innerHTML]="videoDetails.description"></p>
      <!-- <mat-chip-list>
        <mat-chip color="primary" *ngFor="let tag of videoDetails.tags">{{ tag }}</mat-chip>
      </mat-chip-list> -->
    </div>
  </div>
  <div class="similar-videos-section-wrapper mt-5">
    <h1 class="my-2 category-title text-center">Similar Comedy Videos</h1>
    <div class="row"
         infiniteScroll
         [infiniteScrollDistance]="3"
         [infiniteScrollThrottle]="50"
         (scrolled)="onScroll()">
      <div class="col-6 col-sm-4 col-md-3 px-2" *ngFor="let video of similarVideos.data">
        <div class="card border-0 mb-3 mt-2 image-card bg-dark">
          <a [routerLink]="['/videos', 'player', video.dm_video_id, video.video_categories_id, video.category_name]">
<!--            <img class="card-img img-fluid" [src]="video.thumbnail_url" alt="{{ video.title }}" (error)="img.src = '/assets/images/default-thumbnail.jpg'" #img>-->
            <app-lazy-img
              [fileName]="'thumbnails/' + video.category_name + '/' + video.unique_filename + '.jpeg'" [alt]="video.title">
              <!--            <span slot="header"><h3>Horse</h3></span>-->
              <!--            <span slot="caption">Horses are rad!</span>-->
            </app-lazy-img>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
