.footer-ad-container{height: 50px;background: transparent;}
.full-page-ad-container{background-color: rgba(0, 0, 0, 1);position: fixed;top: 0;left: 0;right: 0; bottom: 0;width: 100%;height: 100%;z-index: 1030;}
.ad-close-btn{position: absolute;right: 0;color: gray;}
