<div class="partners-section-wrapper text-light" *ngIf="partnerList">
  <h1>We are working with..</h1>
  <div class="row">
    <div class="col-md-4 col-6" *ngFor="let partner of partnerList">
      <div class="shadow bg-white mb-2 rounded px-3 py-3">
        <img src="{{ partner.image }}" alt="" class="mx-auto img-fluid partner-image mb-0">
      </div>
    </div>
  </div>
</div>
