.home-wrapper{padding-top: 20px;}
.category-card{height: auto;width: 100%;margin-bottom: 20px;display: table;overflow: hidden;box-shadow: 0 24px 15px 3px rgba(0,0,0,1), 0 9px 46px 8px transparent, 0 11px 15px -7px rgba(0,0,0,1);background-clip: border-box;border: 1px solid rgba(0,0,0,.125);border-radius: .25rem;background-size: contain;}
.card-overlay{height: 100%;width: 100%;display: table-cell;vertical-align: bottom;}
.card-overlay>h5{margin-bottom: 0;}
.card-title{margin-bottom: 0;}
