<div class="home-wrapper">
  <div class="row">
    <div class="col-6 col-sm-4 col-md-2 px-2" *ngFor="let cat of categories">
      <a [routerLink]="['/videos', 'list', cat.id, cat.category_name | slugify]">
        <app-lazy-img class="category-card" [fileName]="'images/' + (cat.category_name | slugify) + '.jpeg'" alt="{{ cat.category_name }}">
          <!--            <span slot="header"><h3>Horse</h3></span>-->
          <!--            <span slot="caption">Horses are rad!</span>-->
        </app-lazy-img>
      </a>
    </div>
  </div>
</div>

