<div *ngIf="privacyText">
  <div class="jumbotron py-2" *ngIf="privacyText[0].content_part_1" [innerHTML]="privacyText[0].content_part_1"></div>
  <div class="jumbotron py-2" *ngIf="privacyText[0].content_part_2" [innerHTML]="privacyText[0].content_part_2"></div>
  <div class="jumbotron py-2" *ngIf="privacyText[0].content_part_3" [innerHTML]="privacyText[0].content_part_3"></div>
</div>
